<form #formData='ngForm' class="p-4 p-md-5 border-black bg-red rounded-3" (ngSubmit)="tapLogin()">
    <h1 class="display-4 text-right fw-bold text-white lh-1">Login</h1> 
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email"
        name="email" required>
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password"
        name="password" required>
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"  [disabled]="!formData.valid">Sign up</button>
    <hr class="my-4">
    <div class="text-center">
        <button type="button" class="btn btn-link mt-2" routerLink="/auth/register">Belum punya akun ?</button>
    </div>
</form>