.mt-2 {
  margin-top: 0.5rem !important;
}

@media (min-width: 768px) {
  .ms-md-auto {
    margin-left: auto !important;
  }

  .mt-md-0 {
    margin-top: 0 !important;
  }
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

nav {
  button {
    border-radius: 10rem;
    padding: 0 20px;
    background-color: #fff;
    border-color: #056367;
    color: #08474a;
  }
}
